* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    height: 100vh;
    display: flex;
    background: #D55225 
  
  }
  
  .moves-info {
    color: black;
    font-size: 25px;
    position:absolute;
    top: 400px;
    left: 200px;
    padding-top: 20px;
   
  }

  .actions {
    position:absolute;
    top: 460px;
    left: 187px;
    padding-bottom: 20px;
  }

  .actions button {
    padding: 8px 16px;
    font-size: 25px;
    border-radius: 20px;
    background-color: #F7941D;
    color: black;
}

  .farm-logo {
    padding-top: 20px;
    width: 265px;
    height: 310px;
    position: absolute;
    align-items: center;
    left:580px;
 
  }

  .farm-game {
    width: 500px;
    height: 420px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 210px;
    padding-bottom: 10px;
    

    /* add 3D perspective with flipmarina-ferreira.github.io tutorial*/
    perspective: 1000px;
    
  }

  .farm-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);

    /*3D perspective on card flip */
    transform-style: preserve-3d;
    transition: transform.5s;
    
  }
.farm-card:active {
transform: scale(.97);
transition: transform .2s;
}

.farm-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 15px;
  position: absolute;
  border-radius: 13px;
  border-width: .2.5px;
  border: 4px solid white;
  background: #F7941D;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}


/* MEDIA QUERIES */
/* small handheld devices eg:iphone SE*/
@media only screen and (max-width: 667px & min-width:375px){

  .moves-info {
    display: flex;
    margin-top: 85px;
    margin-left: -190px;
  }

  .actions {
    display: flex;
    margin-top: 10px;
    margin-left: -70px;
  }

  .farm-game {
    width: 100vw;
    grid-gap: 2px;
    margin-right: 100px;
    
    
  }
  .farm-card {
    height: 90px;
    width: 90px;
  }

  .card-front,
  .card-back {
    padding: 1px;
  }


  .farm-logo {
    width: 100vh;
    display: flex;
   margin-left: -80px;
  
  
    
    
 
  }
}
  /* tablet*/
  @media (max-width: 768px) {

    .moves-info {
      display: flex;
      margin-top: 10px;
      
    }
    .farm-game {  
     margin: 10px 0 40px;
     padding-left: 30px;
     position:absolute;
     top: 350px;
     left:100px;
     right:100px;
     
    }
    .farm-logo {
     width: 260px;
     height: 305px;
     position: absolute;
     left:240px;
     top:10px;
   
   }

   .actions {
    padding-bottom: -40px;
    display: flex;
    margin-top: 10px;
    
  }
  
    } 
   
   