/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@600&display=swap');

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin:auto;
}

.row {
    display:flex;
    flex-wrap:wrap;
}

ul {

    list-style: none;
}


.footer {
    background-color: gray;
    padding: 70px 0;
}

.footer-col {
    width:25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: lightgoldenrodyellow;
    text-transform: capitalize;
    margin-bottom:35px;
    font-weight:500;
    position:relative;
}
 .footer-col h4::before{
    content: '';
    position:absolute;
    left:0;
    bottom:-10px;
    background-color: lightgoldenrodyellow;
    height: 2px;
    box-sizing:border-box;
    width: 50px;

 }

 .footer-col ul li:not(:last-child) {
    margin-bottom:10px;
 }

 .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: lightgoldenrodyellow;
    text-decoration:none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
 }

 .footer-col ul li a:hover {
    color: darkgray;
    padding-left:8px;
 }

 .footer-col .social-links a{

    display:inline-block;
    height:40px;
    width: 40px;

 }